*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #EDF2C5;
  margin: 0px;
}
h1,h2,p{
  font-family: Arial Black;
  padding: 0px;
}
header::after,nav::after,article::after,footer::before{
  content: "";
  display: block;
  clear: both;
}
.fright{
  float: right;
}
.fleft{
  float: left;
}
header,nav,article{
  position: relative;
  width: 1260px;
  padding:0px 160px;
  margin: 0px auto;
  box-sizing: border-box;
}
.top{
  margin-top: 53px;
  margin-bottom: 8px;
}
h1.title{
  font-size: 44px;
  float: left;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  color: #778A50;
}
button{
  border:1px solid #75874F;
  border-radius: 3px;
  background-color: #EDF2C5;
  font:bold 14px  Arial Black;
  color: #778A50;
  padding: 3px 8px;
  margin-left: 10px;
}
.ic,.btn{
  display: inline-block;
  margin-top: 19px;
  float: left;
}
.ic img{
  margin-left: 6px;
}
.btn{
  margin-left: 10px;
  border-left: 1px solid #778A50;
  font-family: Arial Black;
}
nav{
  width: 940px;
  box-sizing: border-box;
  background-color: #778A50;
  padding: 0;
  border-radius: 3px;
  margin: 8px auto 20px auto;
}
nav ul{
  margin: 0;
  padding: 0px;
}
nav li{
  list-style: none;
  float: left;
}
nav a{
  display: block;
  margin: 0;
  color: #EDF2C5;
  font-family: Arial Black;
  font-size: 16px;
  text-decoration: none;
  padding: 16px 30px ;
}
h2{
  background-color: #778A50;
  font-family: Arial Black;
  font-size: 16px;
  color: #EDF2C5;
  margin-top: 30px;
  padding: 16px 0 16px 31px ;
  border-radius: 3px;
}
img{
  border-radius: 3px;
}
div figure{
  float: left;
  margin:15px 0px;
}
#carrot{
  margin:15px 12px;
}
.contact{
  width: 445px;
  float: right;
}
.text{
  background-color: #F7FBDA;
  margin:15px 0px 35px 0px;
  border-radius: 3px;
}
.text p{
  color: #7D7D7D;
  font-family: Arial MT;
  font-size: 12px;
  margin-left: 15px;
  padding: 16px 0px;
}
#text{
  border-bottom: 1px solid #898989;
}
#email{
  padding: 16px 0px 2px 0px;
}
#phone{
  padding: 2px 0px 16px 0px;
}
footer{
  text-align: center;
  background-color: #778A50;
  color: #EDF2C5;
  padding: 24px 0;
}
footer p{
  font-size: 12px;
  font-family: Arial MT;
}
